name: build-linux

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - .github/**
      - '!.github/workflows/build-linux.yml'
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - master
      - main
      - canary
      - v[0-9]+.x-staging
      - v[0-9]+.x
    paths-ignore:
      - "README.md"
      - .github/**
      - '!.github/workflows/build-linux.yml'

env:
  PYTHON_VERSION: '3.10'
  FLAKY_TESTS: dontcare

jobs:
  build-linux:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Environment Info
        run: npx envinfo
      - name: Build
        run: ./configure --shared && make -j8
      - name: Upload libnode.so.93 artifact
        uses: actions/upload-artifact@v2
        with:
          name: libnode.so.93
          path: out/Release/libnode.so.93
